<?php
/**
 * Dokuwiki's Main Configuration File - Local Settings
 */
$conf['title'] = '{{ dokuwiki_title }}';
{% if dokuwiki_template is defined %}
$conf['template'] = '{{ dokuwiki_template}}';
{% endif %}
$conf['lang'] = 'en';
$conf['license'] = 'cc-by-sa';
$conf['useacl'] = 1;
$conf['superuser'] = '@admin';
$conf['disableactions'] = 'register';
{% if dokuwiki_local is defined %}
{%   for conf in dokuwiki_local %}
$conf{{ conf.name }} = {{ conf.value }};
{%   endfor %}
{% endif %}