<?php
/*
 * Local plugin enable/disable settings
 *
 */

# Disabled plugins
{% if dokuwiki_plugins_remove is defined %}
{%   for plugin_name in dokuwiki_plugins_remove %}
$plugins['{{ plugin_name }}'] = 0;
{%   endfor %}
{% endif %}

# Enabled plugins
{% if dokuwiki_plugins is defined %}
{%   for plugin_name in dokuwiki_plugins %}
$plugins['{{ plugin_name }}'] = 1;
{%   endfor %}
{% endif %}
